<div class="container">
    <button type="button" (click)="addApple(); playAudio(applePlop)">Add an apple</button>
    <p>To eat an apple, just click on it, it will make it disappear from this basket.</p>
    <hr>
    <table>
        <tr class="basket">
            <td class="apple" *ngFor="let item of appleList; let i = index;">
                <app-apple [apple]="item"  (playSound)="playAudio(appleEaten)" (remove)="removeApple(item)"></app-apple>
            </td>
        </tr>
    </table>
    <audio #appleEaten src="../../assets/sounds/apple_short.m4a" type="audio/x-m4a"></audio>
    <audio #applePlop src="../../assets/sounds/plop3.mp3" type="audio/mpeg"></audio>
</div>